<h1>GET-SOME-PHO!</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col-6">
      <ul>
        {{#each phoArray}}
        <li>
          <p>
        {{this.id}}.{{this.pho_name}}
          </p>
        </li>
        {{/each}}
      </ul>

          
